Src/wiDelGasCardMgrServer/功能测试代码/Service References/NetLabelMgrWS/NetLableMgr_Login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddCenterSysUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strParams" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCenterSysUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddCenterSysUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrgUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strParams" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddOrgUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddOrgUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectByOrgId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectByOrgIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectByOrgIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectByGroupId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProjectByGroupIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProjectByGroupIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevStatusByProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevStatusByProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDevStatusByProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegionByProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegionByProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegionByProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGatewayList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGatewayListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGatewayListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGatewayInfoByCondAndSetOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGatewayInfoByCondAndSetOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGatewayInfoByCondAndSetOrderResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGateway">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGatewayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddGatewayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGateway">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateGatewayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateGatewayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGatewayById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteGatewayByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteGatewayByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevListByGwId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevListByGwIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDevListByGwIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevListByProjectGroupId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevListByProjectGroupIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDevListByProjectGroupIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevListByProjectId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevListByProjectIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDevListByProjectIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevListByRangeId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDevListByRangeIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDevListByRangeIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDev">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDevResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDevResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelADevById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelADevByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelADevByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateADev">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateADevResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateADevResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelANodeById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelANodeByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DelANodeByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewProjectGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strParams" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewProjectGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewProjectGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strParams" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewProjectResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProjectRegion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strParams" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProjectRegionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddProjectRegionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCmdToDb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strParams" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCmdToDbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetCmdToDbResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetCmdToDbHTML">
        <s:complexType />
      </s:element>
      <s:element name="SetCmdToDbHTMLResponse">
        <s:complexType />
      </s:element>
      <s:element name="LoginOnePoint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginOnePointResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginOnePointResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginOnePointHtml">
        <s:complexType />
      </s:element>
      <s:element name="LoginOnePointHtmlResponse">
        <s:complexType />
      </s:element>
      <s:element name="SuperLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuperLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SuperLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SuperLoginHtml">
        <s:complexType />
      </s:element>
      <s:element name="SuperLoginHtmlResponse">
        <s:complexType />
      </s:element>
      <s:element name="OrgLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrgLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OrgLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OrgLoginHtml">
        <s:complexType />
      </s:element>
      <s:element name="OrgLoginHtmlResponse">
        <s:complexType />
      </s:element>
      <s:element name="Projectlogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectloginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProjectloginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProjectloginHtml">
        <s:complexType />
      </s:element>
      <s:element name="ProjectloginHtmlResponse">
        <s:complexType />
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogoutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutHtml">
        <s:complexType />
      </s:element>
      <s:element name="LogoutHtmlResponse">
        <s:complexType />
      </s:element>
      <s:element name="UploadLoginTimeByUuid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strJsonParam" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadLoginTimeByUuidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadLoginTimeByUuidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadLoginTimeByUuidHtml">
        <s:complexType />
      </s:element>
      <s:element name="UploadLoginTimeByUuidHtmlResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCenterSysUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddCenterSysUser" />
  </wsdl:message>
  <wsdl:message name="AddCenterSysUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddCenterSysUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddOrgUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddOrgUser" />
  </wsdl:message>
  <wsdl:message name="AddOrgUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddOrgUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllProject" />
  </wsdl:message>
  <wsdl:message name="GetAllProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectByOrgIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectByOrgId" />
  </wsdl:message>
  <wsdl:message name="GetProjectByOrgIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectByOrgIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetProjectByGroupIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetProjectByGroupId" />
  </wsdl:message>
  <wsdl:message name="GetProjectByGroupIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetProjectByGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDevStatusByProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetDevStatusByProject" />
  </wsdl:message>
  <wsdl:message name="GetDevStatusByProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetDevStatusByProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetRegionByProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegionByProject" />
  </wsdl:message>
  <wsdl:message name="GetRegionByProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegionByProjectResponse" />
  </wsdl:message>
  <wsdl:message name="GetGatewayListSoapIn">
    <wsdl:part name="parameters" element="tns:GetGatewayList" />
  </wsdl:message>
  <wsdl:message name="GetGatewayListSoapOut">
    <wsdl:part name="parameters" element="tns:GetGatewayListResponse" />
  </wsdl:message>
  <wsdl:message name="GetGatewayInfoByCondAndSetOrderSoapIn">
    <wsdl:part name="parameters" element="tns:GetGatewayInfoByCondAndSetOrder" />
  </wsdl:message>
  <wsdl:message name="GetGatewayInfoByCondAndSetOrderSoapOut">
    <wsdl:part name="parameters" element="tns:GetGatewayInfoByCondAndSetOrderResponse" />
  </wsdl:message>
  <wsdl:message name="AddGatewaySoapIn">
    <wsdl:part name="parameters" element="tns:AddGateway" />
  </wsdl:message>
  <wsdl:message name="AddGatewaySoapOut">
    <wsdl:part name="parameters" element="tns:AddGatewayResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateGatewaySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateGateway" />
  </wsdl:message>
  <wsdl:message name="UpdateGatewaySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateGatewayResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteGatewayByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteGatewayById" />
  </wsdl:message>
  <wsdl:message name="DeleteGatewayByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteGatewayByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDevListByGwIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDevListByGwId" />
  </wsdl:message>
  <wsdl:message name="GetDevListByGwIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDevListByGwIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDevListByProjectGroupIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDevListByProjectGroupId" />
  </wsdl:message>
  <wsdl:message name="GetDevListByProjectGroupIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDevListByProjectGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDevListByProjectIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDevListByProjectId" />
  </wsdl:message>
  <wsdl:message name="GetDevListByProjectIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDevListByProjectIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetDevListByRangeIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetDevListByRangeId" />
  </wsdl:message>
  <wsdl:message name="GetDevListByRangeIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetDevListByRangeIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddDevSoapIn">
    <wsdl:part name="parameters" element="tns:AddDev" />
  </wsdl:message>
  <wsdl:message name="AddDevSoapOut">
    <wsdl:part name="parameters" element="tns:AddDevResponse" />
  </wsdl:message>
  <wsdl:message name="DelADevByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DelADevById" />
  </wsdl:message>
  <wsdl:message name="DelADevByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DelADevByIdResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateADevSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateADev" />
  </wsdl:message>
  <wsdl:message name="UpdateADevSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateADevResponse" />
  </wsdl:message>
  <wsdl:message name="AddNodeSoapIn">
    <wsdl:part name="parameters" element="tns:AddNode" />
  </wsdl:message>
  <wsdl:message name="AddNodeSoapOut">
    <wsdl:part name="parameters" element="tns:AddNodeResponse" />
  </wsdl:message>
  <wsdl:message name="DelANodeByIdSoapIn">
    <wsdl:part name="parameters" element="tns:DelANodeById" />
  </wsdl:message>
  <wsdl:message name="DelANodeByIdSoapOut">
    <wsdl:part name="parameters" element="tns:DelANodeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewProjectGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewProjectGroup" />
  </wsdl:message>
  <wsdl:message name="AddNewProjectGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewProjectGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewProjectSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewProject" />
  </wsdl:message>
  <wsdl:message name="AddNewProjectSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewProjectResponse" />
  </wsdl:message>
  <wsdl:message name="AddProjectRegionSoapIn">
    <wsdl:part name="parameters" element="tns:AddProjectRegion" />
  </wsdl:message>
  <wsdl:message name="AddProjectRegionSoapOut">
    <wsdl:part name="parameters" element="tns:AddProjectRegionResponse" />
  </wsdl:message>
  <wsdl:message name="SetCmdToDbSoapIn">
    <wsdl:part name="parameters" element="tns:SetCmdToDb" />
  </wsdl:message>
  <wsdl:message name="SetCmdToDbSoapOut">
    <wsdl:part name="parameters" element="tns:SetCmdToDbResponse" />
  </wsdl:message>
  <wsdl:message name="SetCmdToDbHTMLSoapIn">
    <wsdl:part name="parameters" element="tns:SetCmdToDbHTML" />
  </wsdl:message>
  <wsdl:message name="SetCmdToDbHTMLSoapOut">
    <wsdl:part name="parameters" element="tns:SetCmdToDbHTMLResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOnePointSoapIn">
    <wsdl:part name="parameters" element="tns:LoginOnePoint" />
  </wsdl:message>
  <wsdl:message name="LoginOnePointSoapOut">
    <wsdl:part name="parameters" element="tns:LoginOnePointResponse" />
  </wsdl:message>
  <wsdl:message name="LoginOnePointHtmlSoapIn">
    <wsdl:part name="parameters" element="tns:LoginOnePointHtml" />
  </wsdl:message>
  <wsdl:message name="LoginOnePointHtmlSoapOut">
    <wsdl:part name="parameters" element="tns:LoginOnePointHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="SuperLoginSoapIn">
    <wsdl:part name="parameters" element="tns:SuperLogin" />
  </wsdl:message>
  <wsdl:message name="SuperLoginSoapOut">
    <wsdl:part name="parameters" element="tns:SuperLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SuperLoginHtmlSoapIn">
    <wsdl:part name="parameters" element="tns:SuperLoginHtml" />
  </wsdl:message>
  <wsdl:message name="SuperLoginHtmlSoapOut">
    <wsdl:part name="parameters" element="tns:SuperLoginHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="OrgLoginSoapIn">
    <wsdl:part name="parameters" element="tns:OrgLogin" />
  </wsdl:message>
  <wsdl:message name="OrgLoginSoapOut">
    <wsdl:part name="parameters" element="tns:OrgLoginResponse" />
  </wsdl:message>
  <wsdl:message name="OrgLoginHtmlSoapIn">
    <wsdl:part name="parameters" element="tns:OrgLoginHtml" />
  </wsdl:message>
  <wsdl:message name="OrgLoginHtmlSoapOut">
    <wsdl:part name="parameters" element="tns:OrgLoginHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectloginSoapIn">
    <wsdl:part name="parameters" element="tns:Projectlogin" />
  </wsdl:message>
  <wsdl:message name="ProjectloginSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectloginResponse" />
  </wsdl:message>
  <wsdl:message name="ProjectloginHtmlSoapIn">
    <wsdl:part name="parameters" element="tns:ProjectloginHtml" />
  </wsdl:message>
  <wsdl:message name="ProjectloginHtmlSoapOut">
    <wsdl:part name="parameters" element="tns:ProjectloginHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutHtmlSoapIn">
    <wsdl:part name="parameters" element="tns:LogoutHtml" />
  </wsdl:message>
  <wsdl:message name="LogoutHtmlSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutHtmlResponse" />
  </wsdl:message>
  <wsdl:message name="UploadLoginTimeByUuidSoapIn">
    <wsdl:part name="parameters" element="tns:UploadLoginTimeByUuid" />
  </wsdl:message>
  <wsdl:message name="UploadLoginTimeByUuidSoapOut">
    <wsdl:part name="parameters" element="tns:UploadLoginTimeByUuidResponse" />
  </wsdl:message>
  <wsdl:message name="UploadLoginTimeByUuidHtmlSoapIn">
    <wsdl:part name="parameters" element="tns:UploadLoginTimeByUuidHtml" />
  </wsdl:message>
  <wsdl:message name="UploadLoginTimeByUuidHtmlSoapOut">
    <wsdl:part name="parameters" element="tns:UploadLoginTimeByUuidHtmlResponse" />
  </wsdl:message>
  <wsdl:portType name="NetLabelMgrSoap">
    <wsdl:operation name="AddCenterSysUser">
      <wsdl:input message="tns:AddCenterSysUserSoapIn" />
      <wsdl:output message="tns:AddCenterSysUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddOrgUser">
      <wsdl:input message="tns:AddOrgUserSoapIn" />
      <wsdl:output message="tns:AddOrgUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllProject">
      <wsdl:input message="tns:GetAllProjectSoapIn" />
      <wsdl:output message="tns:GetAllProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectByOrgId">
      <wsdl:input message="tns:GetProjectByOrgIdSoapIn" />
      <wsdl:output message="tns:GetProjectByOrgIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectByGroupId">
      <wsdl:input message="tns:GetProjectByGroupIdSoapIn" />
      <wsdl:output message="tns:GetProjectByGroupIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDevStatusByProject">
      <wsdl:input message="tns:GetDevStatusByProjectSoapIn" />
      <wsdl:output message="tns:GetDevStatusByProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRegionByProject">
      <wsdl:input message="tns:GetRegionByProjectSoapIn" />
      <wsdl:output message="tns:GetRegionByProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGatewayList">
      <wsdl:input message="tns:GetGatewayListSoapIn" />
      <wsdl:output message="tns:GetGatewayListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGatewayInfoByCondAndSetOrder">
      <wsdl:input message="tns:GetGatewayInfoByCondAndSetOrderSoapIn" />
      <wsdl:output message="tns:GetGatewayInfoByCondAndSetOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddGateway">
      <wsdl:input message="tns:AddGatewaySoapIn" />
      <wsdl:output message="tns:AddGatewaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGateway">
      <wsdl:input message="tns:UpdateGatewaySoapIn" />
      <wsdl:output message="tns:UpdateGatewaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGatewayById">
      <wsdl:input message="tns:DeleteGatewayByIdSoapIn" />
      <wsdl:output message="tns:DeleteGatewayByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDevListByGwId">
      <wsdl:input message="tns:GetDevListByGwIdSoapIn" />
      <wsdl:output message="tns:GetDevListByGwIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDevListByProjectGroupId">
      <wsdl:input message="tns:GetDevListByProjectGroupIdSoapIn" />
      <wsdl:output message="tns:GetDevListByProjectGroupIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDevListByProjectId">
      <wsdl:input message="tns:GetDevListByProjectIdSoapIn" />
      <wsdl:output message="tns:GetDevListByProjectIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDevListByRangeId">
      <wsdl:input message="tns:GetDevListByRangeIdSoapIn" />
      <wsdl:output message="tns:GetDevListByRangeIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDev">
      <wsdl:input message="tns:AddDevSoapIn" />
      <wsdl:output message="tns:AddDevSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelADevById">
      <wsdl:input message="tns:DelADevByIdSoapIn" />
      <wsdl:output message="tns:DelADevByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateADev">
      <wsdl:input message="tns:UpdateADevSoapIn" />
      <wsdl:output message="tns:UpdateADevSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNode">
      <wsdl:input message="tns:AddNodeSoapIn" />
      <wsdl:output message="tns:AddNodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DelANodeById">
      <wsdl:input message="tns:DelANodeByIdSoapIn" />
      <wsdl:output message="tns:DelANodeByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewProjectGroup">
      <wsdl:input message="tns:AddNewProjectGroupSoapIn" />
      <wsdl:output message="tns:AddNewProjectGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewProject">
      <wsdl:input message="tns:AddNewProjectSoapIn" />
      <wsdl:output message="tns:AddNewProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProjectRegion">
      <wsdl:input message="tns:AddProjectRegionSoapIn" />
      <wsdl:output message="tns:AddProjectRegionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCmdToDb">
      <wsdl:input message="tns:SetCmdToDbSoapIn" />
      <wsdl:output message="tns:SetCmdToDbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetCmdToDbHTML">
      <wsdl:input message="tns:SetCmdToDbHTMLSoapIn" />
      <wsdl:output message="tns:SetCmdToDbHTMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginOnePoint">
      <wsdl:input message="tns:LoginOnePointSoapIn" />
      <wsdl:output message="tns:LoginOnePointSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoginOnePointHtml">
      <wsdl:input message="tns:LoginOnePointHtmlSoapIn" />
      <wsdl:output message="tns:LoginOnePointHtmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuperLogin">
      <wsdl:input message="tns:SuperLoginSoapIn" />
      <wsdl:output message="tns:SuperLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SuperLoginHtml">
      <wsdl:input message="tns:SuperLoginHtmlSoapIn" />
      <wsdl:output message="tns:SuperLoginHtmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrgLogin">
      <wsdl:input message="tns:OrgLoginSoapIn" />
      <wsdl:output message="tns:OrgLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OrgLoginHtml">
      <wsdl:input message="tns:OrgLoginHtmlSoapIn" />
      <wsdl:output message="tns:OrgLoginHtmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Projectlogin">
      <wsdl:input message="tns:ProjectloginSoapIn" />
      <wsdl:output message="tns:ProjectloginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProjectloginHtml">
      <wsdl:input message="tns:ProjectloginHtmlSoapIn" />
      <wsdl:output message="tns:ProjectloginHtmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogoutHtml">
      <wsdl:input message="tns:LogoutHtmlSoapIn" />
      <wsdl:output message="tns:LogoutHtmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadLoginTimeByUuid">
      <wsdl:input message="tns:UploadLoginTimeByUuidSoapIn" />
      <wsdl:output message="tns:UploadLoginTimeByUuidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadLoginTimeByUuidHtml">
      <wsdl:input message="tns:UploadLoginTimeByUuidHtmlSoapIn" />
      <wsdl:output message="tns:UploadLoginTimeByUuidHtmlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetLabelMgrSoap" type="tns:NetLabelMgrSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCenterSysUser">
      <soap:operation soapAction="http://tempuri.org/AddCenterSysUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrgUser">
      <soap:operation soapAction="http://tempuri.org/AddOrgUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProject">
      <soap:operation soapAction="http://tempuri.org/GetAllProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectByOrgId">
      <soap:operation soapAction="http://tempuri.org/GetProjectByOrgId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectByGroupId">
      <soap:operation soapAction="http://tempuri.org/GetProjectByGroupId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevStatusByProject">
      <soap:operation soapAction="http://tempuri.org/GetDevStatusByProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionByProject">
      <soap:operation soapAction="http://tempuri.org/GetRegionByProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGatewayList">
      <soap:operation soapAction="http://tempuri.org/GetGatewayList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGatewayInfoByCondAndSetOrder">
      <soap:operation soapAction="http://tempuri.org/GetGatewayInfoByCondAndSetOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGateway">
      <soap:operation soapAction="http://tempuri.org/AddGateway" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGateway">
      <soap:operation soapAction="http://tempuri.org/UpdateGateway" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGatewayById">
      <soap:operation soapAction="http://tempuri.org/DeleteGatewayById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevListByGwId">
      <soap:operation soapAction="http://tempuri.org/GetDevListByGwId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevListByProjectGroupId">
      <soap:operation soapAction="http://tempuri.org/GetDevListByProjectGroupId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevListByProjectId">
      <soap:operation soapAction="http://tempuri.org/GetDevListByProjectId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevListByRangeId">
      <soap:operation soapAction="http://tempuri.org/GetDevListByRangeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDev">
      <soap:operation soapAction="http://tempuri.org/AddDev" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelADevById">
      <soap:operation soapAction="http://tempuri.org/DelADevById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateADev">
      <soap:operation soapAction="http://tempuri.org/UpdateADev" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNode">
      <soap:operation soapAction="http://tempuri.org/AddNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelANodeById">
      <soap:operation soapAction="http://tempuri.org/DelANodeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProjectGroup">
      <soap:operation soapAction="http://tempuri.org/AddNewProjectGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProject">
      <soap:operation soapAction="http://tempuri.org/AddNewProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectRegion">
      <soap:operation soapAction="http://tempuri.org/AddProjectRegion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCmdToDb">
      <soap:operation soapAction="http://tempuri.org/SetCmdToDb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCmdToDbHTML">
      <soap:operation soapAction="http://tempuri.org/SetCmdToDbHTML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginOnePoint">
      <soap:operation soapAction="http://tempuri.org/LoginOnePoint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginOnePointHtml">
      <soap:operation soapAction="http://tempuri.org/LoginOnePointHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuperLogin">
      <soap:operation soapAction="http://tempuri.org/SuperLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuperLoginHtml">
      <soap:operation soapAction="http://tempuri.org/SuperLoginHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrgLogin">
      <soap:operation soapAction="http://tempuri.org/OrgLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrgLoginHtml">
      <soap:operation soapAction="http://tempuri.org/OrgLoginHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Projectlogin">
      <soap:operation soapAction="http://tempuri.org/Projectlogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectloginHtml">
      <soap:operation soapAction="http://tempuri.org/ProjectloginHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutHtml">
      <soap:operation soapAction="http://tempuri.org/LogoutHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadLoginTimeByUuid">
      <soap:operation soapAction="http://tempuri.org/UploadLoginTimeByUuid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadLoginTimeByUuidHtml">
      <soap:operation soapAction="http://tempuri.org/UploadLoginTimeByUuidHtml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetLabelMgrSoap12" type="tns:NetLabelMgrSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCenterSysUser">
      <soap12:operation soapAction="http://tempuri.org/AddCenterSysUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrgUser">
      <soap12:operation soapAction="http://tempuri.org/AddOrgUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllProject">
      <soap12:operation soapAction="http://tempuri.org/GetAllProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectByOrgId">
      <soap12:operation soapAction="http://tempuri.org/GetProjectByOrgId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectByGroupId">
      <soap12:operation soapAction="http://tempuri.org/GetProjectByGroupId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevStatusByProject">
      <soap12:operation soapAction="http://tempuri.org/GetDevStatusByProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRegionByProject">
      <soap12:operation soapAction="http://tempuri.org/GetRegionByProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGatewayList">
      <soap12:operation soapAction="http://tempuri.org/GetGatewayList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGatewayInfoByCondAndSetOrder">
      <soap12:operation soapAction="http://tempuri.org/GetGatewayInfoByCondAndSetOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGateway">
      <soap12:operation soapAction="http://tempuri.org/AddGateway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGateway">
      <soap12:operation soapAction="http://tempuri.org/UpdateGateway" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGatewayById">
      <soap12:operation soapAction="http://tempuri.org/DeleteGatewayById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevListByGwId">
      <soap12:operation soapAction="http://tempuri.org/GetDevListByGwId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevListByProjectGroupId">
      <soap12:operation soapAction="http://tempuri.org/GetDevListByProjectGroupId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevListByProjectId">
      <soap12:operation soapAction="http://tempuri.org/GetDevListByProjectId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevListByRangeId">
      <soap12:operation soapAction="http://tempuri.org/GetDevListByRangeId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDev">
      <soap12:operation soapAction="http://tempuri.org/AddDev" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelADevById">
      <soap12:operation soapAction="http://tempuri.org/DelADevById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateADev">
      <soap12:operation soapAction="http://tempuri.org/UpdateADev" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNode">
      <soap12:operation soapAction="http://tempuri.org/AddNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelANodeById">
      <soap12:operation soapAction="http://tempuri.org/DelANodeById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProjectGroup">
      <soap12:operation soapAction="http://tempuri.org/AddNewProjectGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewProject">
      <soap12:operation soapAction="http://tempuri.org/AddNewProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProjectRegion">
      <soap12:operation soapAction="http://tempuri.org/AddProjectRegion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCmdToDb">
      <soap12:operation soapAction="http://tempuri.org/SetCmdToDb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCmdToDbHTML">
      <soap12:operation soapAction="http://tempuri.org/SetCmdToDbHTML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginOnePoint">
      <soap12:operation soapAction="http://tempuri.org/LoginOnePoint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginOnePointHtml">
      <soap12:operation soapAction="http://tempuri.org/LoginOnePointHtml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuperLogin">
      <soap12:operation soapAction="http://tempuri.org/SuperLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SuperLoginHtml">
      <soap12:operation soapAction="http://tempuri.org/SuperLoginHtml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrgLogin">
      <soap12:operation soapAction="http://tempuri.org/OrgLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrgLoginHtml">
      <soap12:operation soapAction="http://tempuri.org/OrgLoginHtml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Projectlogin">
      <soap12:operation soapAction="http://tempuri.org/Projectlogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProjectloginHtml">
      <soap12:operation soapAction="http://tempuri.org/ProjectloginHtml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogoutHtml">
      <soap12:operation soapAction="http://tempuri.org/LogoutHtml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadLoginTimeByUuid">
      <soap12:operation soapAction="http://tempuri.org/UploadLoginTimeByUuid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadLoginTimeByUuidHtml">
      <soap12:operation soapAction="http://tempuri.org/UploadLoginTimeByUuidHtml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NetLabelMgr">
    <wsdl:port name="NetLabelMgrSoap" binding="tns:NetLabelMgrSoap">
      <soap:address location="http://localhost:50150/NetLableMgr_Login.asmx" />
    </wsdl:port>
    <wsdl:port name="NetLabelMgrSoap12" binding="tns:NetLabelMgrSoap12">
      <soap12:address location="http://localhost:50150/NetLableMgr_Login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>